@import "~bootstrap/scss/bootstrap";

table.serial_number {
  counter-reset: rowNumber;
}

table.serial_number tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber);
  vertical-align: middle;
}

// Active link
.active {
  color: black;
}

@media only screen and (min-width: 992px){
  .border-lr {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
}